:root {
    --pink-text: #b62c31;
    --orange-text: #ef5602;
    --yellow-text: #c98000;
    --green-text: #006e82;
    --blue-text: #26476d;
    --purple-text: #4f5381;
    --silver-text: #a1a1a6;
}

body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #000000CC;
}

.container {
    display: flex;
    justify-content: center;
    width: 1024px;
}

.head {
    height: 44px;
    align-items: center;
}

.logo-icon {
    width: 25px;
    padding: 32px;
}

nav ul {
    display: flex;
}

nav ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav a {
    display: block;
    padding: 32px;
    font-size: 14px;
    font-weight: 400;
    color: #ddd;
    text-decoration: none;
}

nav .active a {
    color: #b8c0c9;
}

header nav a:hover {
    color: white;
}

.search-icon {
    width: 17px;
    padding: 30px;
}

.shop-icon {
    width: 17px;
    padding: 32px;
}

.sub-menu {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}

.row-menu {
   display: flex;
   align-items: center;
   height: 50px;
   justify-content: space-between;
}

.model a {
    display: block;
    text-decoration: none;
    font-size: 21px;
    padding: 10px;
    color: #000;
}

.model-info {
    display: flex;
    line-height: 4px;
}

.model-info a, .active-model {
    display: block;
    text-decoration: none;
    font-size: 12px;
    padding: 12px;
    color: #000;
}

.active-model {
    color: #a6a6a6;
}

.buy-button {
    background-color: #0071E3;
    border-radius: 15px;
}

.buy-button a {
    color: #fff;
}

.model-info a:hover {
    color: #2491FF;
}

.buy-button a:hover {
    color: #FFF;
    background-color: #2491FF;
}

.video {
    width: 100%;
    max-width: 4096px;
    margin: auto;
}

.video-area {
    position: relative;
    height: 0px;
    padding: 0px 0px 52.02%;
}

.video-area video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

.intro {
    display: flex;
    justify-content: center;
}

.column {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.colors {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.green {
    color: #10505B;
    margin-right: 7px;
}

.yellow {
    color: #D48207;
    margin-right: 7px;
}

.orange {
    color: #E36942;
    margin-right: 7px;
}

.pink {
    color: #B72C31;
    margin-right: 7px;
}

.purple {
    color: #353A71;
    margin-right: 7px;
}

.blue {
    color: #25476D;
    margin-right: 7px;
}

.intro-text, .colors {
    width: 817px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    line-height: 1.1em;
}

.intro-price {
    color: #1D1D1F;
    font-size: 24px;
    margin-top: 38px;
}

.intro-links {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 300px;
}

.intro-links a {
    color: #0066CC;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
}

.intro-links a:hover {
    text-decoration: underline;
}

.icon {
    width: 10px;
    padding-left: 7px;
    margin-right: 40px;
}

.video-colors {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.vc-row-1 {
    margin-left: 300px;
   
    margin-bottom: 70px;
}

.line-1, .still {
    font-size: 72px;
    color: #1D1D1F;
    font-weight: 500;
}

.still {
    margin-right: 15px;
}

.line-2 {
    display: flex;
}

.text {
    font-size: 72px;
    color: #1D1D1F;
    font-weight: 500;
    position: absolute;
    opacity: 0;
    -webkit-animation: fader 14s linear 1;
    -moz-animation: fader 14s linear 1;
    -o-animation: fader 14s linear 1;
    animation: fader 14s linear 1;
}

.a {
    animation-delay: 0s;
    color: var(--green-text);   
}

.b {
    animation-delay: 2s;
    color: var(--yellow-text);  
}

.c {
    animation-delay: 4s; 
    color: var(--orange-text);
}

.d {
    animation-delay: 6s;  
    color: var(--pink-text);  
}

.e {
    animation-delay: 8s;
    color: var(--purple-text);   
}

.f {
    animation-delay: 10s;
    color: var(--blue-text);
}

.g {
    animation-delay: 12s;
    color: var(--silver-text);   
}

.h {
    animation-delay: 14s;
    color: #000;   
}

@keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@-o-keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@-moz-keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@-webkit-keyframes fader {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

.video-2 {
    width: 100%;
    max-width: 1560px;
    margin: auto;
    justify-content: center;
}

.video-area-2 {
    position: relative;
    height: 0px;
    padding: 0px 0px 52.02%;
}

.video-area-2 video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

.big-sur-banner {
    display: flex;
    margin: auto;
    justify-content: center;
    background-image:url('../Images/big-sur-banner.jpeg');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 1440px;
}

.big-sur-logo {
    margin-bottom: 15px;
}

.banner-text {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.003em;
    color: #FFF;
    margin-bottom: 15px;
}

.banner-link {
    display: flex;
    align-items: center;
}

.banner-link a {
    text-decoration: none;
    color: #FFF;
}

.banner-link a:hover {
    text-decoration: underline;
}

.icon3 {
    width: 2px;
    margin-left: -5px;
}

.bottom-banners {
    display: flex;
    justify-content: center;
}

.bb-1 {
    display: flex;
}

.sb-1, .sb-2 {
    width: 705px;
    height: 610px;
    background-color: #ccc;
    margin-top: 30px;
}

.sb-1 {
    margin-right: 30px;
}